<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <a routerLink="app-add-employee" style="margin: 20px;">Add Employee</a>

  <a routerLink="app-display-employee" style="margin: 20px;">Display Employee</a>
  <a routerLink="app-onlinelink" style="margin: 20px;">online Employee</a>

  <!--   <app-add-employee></app-add-employee>
        <app-display-employee></app-display-employee>  -->

  <router-outlet></router-outlet>
  </div>